.blackbackground{
    background-color: rgb(13, 13, 23) !important;
}

.margin {
    margin: 2rem;
}

.padding {
    padding: 2rem;
}

img.full-width-bg {
    width: 100vw;
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.grey_color{
    color: rgb(156, 152, 152);
}

footer{
    height: 7rem;
}

footer p{
    color: rgb(156, 152, 152);
    font-size: small;
    margin-left: 8rem;
    padding-top: 0.8rem;
}