{% extends "base.html" %}

{% block content %}

<article class="d-flex justify-content-center align-items-center banner-blue full-height">
    <section class="card col-10 shadow rounded-4 p-3 transparent-white-bg">
        <div class="card-body">
            <div id="artistContainer">
                <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                        <div class="card card-performance shadow-sm rounded-3 p-3 h-100">
                            <div class="d-flex gap-3">
                                {% if p_artist.path_immagine %}
                                <img src="{{ url_for('uploaded_file', filename=p_artist.path_immagine.replace('uploads/', '')) }}"
                                     alt="Performance Image"
                                     class="img-fluid rounded-3"
                                     style="width: 120px; height: 120px; object-fit: cover;">
                                {% else %}
                                <div class="d-flex align-items-center justify-content-center bg-secondary text-white rounded-3">
                                    Nessuna immagine
                                </div>
                                {% endif %}

                                <div class="flex-grow-1">
                                    <h5 class="mb-3">{{ p_artist.artista }}</h5>
                                    <ul class="list-unstyled mb-0">
                                        <li><b>ID:</b> {{ p_artist.id }}</li>
                                        <li><b>Giorno:</b> {{ p_artist.giorno }}</li>
                                        <li><b>Ora Inizio:</b> {{ p_artist.ora_inizio }}</li>
                                        <li><b>Durata:</b> {{ p_artist.durata }}</li>
                                        <li><b>Genere Musicale:</b> {{ p_artist.genere }}</li>
                                        <li><b>Descrizione:</b> {{ p_artist.descrizione }}</li>
                                        <li>
                                            <div class="d-flex w-100">
                                                <span><b>Creatore:</b> {{ p_artist.email_creatore }}</span>
                                                <span class="ms-auto"><b>ID:</b> {{ p_artist.id_creatore }}</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex w-100">
                                                <span><b>Palco:</b> {{ p_artist.nome_palco }}</span>
                                                <span class="ms-auto"><b>ID:</b> {{ p_artist.id_palco }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</article>

{% endblock %}
