{% extends "base.html" %}

{% block content %}

{% if p_ticket %}

<article class="d-flex justify-content-center align-items-center banner-blue full-height">
    <section class="card text-center col-8 shadow rounded-4 p-5 transparent-white-bg">
        <div class="card-body">
            <h1 class="mb-4 green-text fw-bold">🎫 Ticket Confirmed!</h1>
            <p class="mb-4 fs-5">Hi <b>{{ current_user.email.split('@')[0] }}</b>, you're all set for the soundwave!<br>
                Your pass is ready - just show it at the gate.</p>
        </div>
    </section>
</article>

{% else %}

<article class="d-flex justify-content-center align-items-center banner-blue full-height">
    <section class="card text-center col-8 shadow rounded-4 p-5 transparent-white-bg">
        <div class="card-body">
            <h1 class="mb-4 red-text fw-bold">🔥 No Ticket Yet?</h1>
            <p class="mb-4 fs-5">Hi <b>{{ current_user.email.split('@')[0] }}</b>, you're just one step away from
                joining the soundwave. <br>Pick your pass and turn up the volume!</p>
            <a href="{{ url_for('ticket_page') }}"
                class="btn btn-lg rounded-pill fw-bold btn-custom-gradient border-gradient" type="submit">
                Purchase now
            </a>
        </div>
    </section>
</article>

{% endif %}
{% endblock %}