{% extends "base.html" %}

{% block content %}
<article class="banner-blue full-height position-relative" style="padding-top: 7rem;">
    <div class="card text-center mx-auto" style="max-width: 32rem; position: relative; z-index: 2; box-shadow: 0 4px 32px rgba(0,0,0,0.18);">
        <div class="card-header">
            Tickets
        </div>
        <div class="card-body">
            <h5 class="card-title">Still no ticket</h5>
            <p class="card-text">You already didn't buy any ticket for this year's festival</p>
            <a href="#" class="btn btn-primary">Discover our prices</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</article>
{% endblock %}